body {
    font-family: Arial, sans-serif;
    background-image: url(../aplicaciones/RECURSOS/images.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;
    padding: 0;
}

header {
    font-family: Arial, sans-serif; /* Cambiado a una fuente más moderna */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.9); /* Agregada opacidad al fondo */

    color: #030303;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px; /* Aumentado el relleno */
    background: rgba(255, 255, 255, 0.7); /* Agregada opacidad al fondo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0; /* Eliminado el relleno */
}

li {
    margin-bottom: 10px; /* Aumentado el espacio entre elementos */
    border: 3px solid #fcfcfd;
    border-radius: 9px;
}

a {
    display: block;
    padding: 15px; /* Aumentado el relleno */
    text-align: center;
    text-decoration: none; /* Cambiado a none */
    color: #030303;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #f4f4f4;
    color: #666;
}
