*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("IMAGENES/camino-vacio-atmosfera-oscura_23-2150914150.avif");
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    height: 100vh;
    
}

h1{
    color: aliceblue;
    font-size: 56px;
}

h2{
    color: aliceblue;
    font-size: 28px;
}

#ahorcado{
    height: 200px;
    width: 200px;
    left: 0;
    background-image: url("IMAGENES/el-ahorcado.jpg");
    border-radius: 32px;
    margin-top: 24px;
    
}

#content-main{
    width: 1000px;
    height: 600px;
    background-color: #3b3f42;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
#resultado{
    position:fixed;
    width: 100%;
    color: aliceblue;
    text-align: center;
    top: 10em;
}   

#output{
    color: rgb(234, 223, 217);
    font-size:3em;
    margin: 2rem;
    
}

#calcular{
    color: #ddecef;
    background:#3b3f42;
    border: 2px solid #c2d0d4;
    border-radius: 4px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

#calcular:hover {
    background-color: #171415;
    color: white;
}

input[type=text]{
    
    width: 40%; 
    padding: 10px;
    font-size: 16px;
    margin: 16px ;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #4f5557;
    color: white;
    margin-left: 1em;
    
}
::placeholder{
    color: rgb(179, 193, 245);
}

#calcular:hover, #reiniciar:hover {
    background-color: #171415;
    color: white;
  }