.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 1px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px; /* Ajustado tamaño del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; /* Convertido en bloque en línea para mejor alineación */
  }