body {
  font-family:'Times New Roman', Times, serif;
    background-image: url(../curve-light-blue-background-abstract-free-vector.jpg); 
    background-size:cover; 
    background-repeat: repeat; 
    background-position: center; 
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #5f91dd;
    border-radius: 5px;
    background-color: hwb(199 33% 12%);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #appointments {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #appointmentList {
    list-style-type: none;
    padding: 0;
  }
  
  #appointmentList li {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #appointmentList li:hover {
    background-color: #f0f0f0;
  }
  